/* Black background covering full screen */
.auction-container {
    /* background-color: ; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding: 50px;
    flex-direction: column;
  }
  
  /* White form box */
  .auction-form {
    background: #2c2c2c;
    padding: 50px;
    border-radius: 8px;
    width: 90%;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* max-width: 500px; */
    box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.2);
  }
  
  h2 {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .form-control{
    background: transparent;
    color: white;
  }
  
  label {
    display: block;
    /* margin-top: 10px; */
    font-weight: bold;
    color: white;
    margin-bottom: -15px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    color: white;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
  }
  
  textarea {
    height: 80px;
    resize: none;
  }
  

  select option{
    /* background: transparent; */
    color: #333;
    /* color: ; */
  }
  


  

  


  @media screen and (max-width: 1200px) {
    .auction-form {
      width: 80%;
    }
    
  }


  @media screen and (max-width: 900px) {
    .auction-form {
        margin: 0 5%;
      width: 100%;
    }
    
  }

  @media screen and (max-width: 600px) {
    .auction-form {
      margin: 0 ;
      width: 115%;
    }
    
  }